.container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 100px;
    
  }

  .card {
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(101, 97, 97);
    overflow: hidden;
    cursor: pointer;
    width: 250px;
    transition: transform 0.2s ease-in-out;
    /* animation: fadeIn 5s ease-out forwards; */
  }
  
  .card:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.2);
  }
  
  .card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card-content {
    background-color: #000000;
    padding: 15px;
    text-align: center;
  }
  
  .card-content h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #b26969;
  }
  .card-content h4{
    color: #c5a6a6;
  }
  .card-content p {
    margin: 5px 0;
    color: #beb4b4;
  }
  
  p .card-price {
    font-weight: bold;
    color: #93aac3;
  }
  

  .button-container { 
    padding: 20px  100px; 
    display: flex;
    z-index: 1000 ;
    justify-content: space-between;
    position: sticky;
    top: 50px;
    gap: 30px;

    background-color: rgb(34, 34, 51);
  }
  .button-container button{
    background-color: #05050b;
    border: none;
    box-shadow: 0px 0px 4px #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
 
 

  .button-container button:hover {
    transform: scale(0.9);
    background-color: #1b1b1d;
  }

  .popup {
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    width: 300px; 
    height: 650px ;
    background-color: #e9edf1;
    padding: 10px 20px;
    animation: filterin 0.5s ease-out forwards;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-around;
  }
 
  

  .popup .span {
    color: white;
    border-radius: 8px;
    font-size: 25px;
    background-color: #050f51;
    padding: 5px 10px;
  }

    .priceSet{
      display: flex;
       justify-content: space-between;
       /* background-color: #25415f; */
    }

  

  .nav_filter{
    color:  #040404;
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}

.brands{

  /* background-color: #ffffff; */
  display: grid;  
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: none;
}
.brands #brand{
  font-size: 15px;
  color: rgb(255, 242, 242);
  background-color: brown;
  width: auto;
  cursor: pointer;
}

.popup #brand:hover {
  transform: scale(0.9);
  background-color: rgb(169, 37, 37);
}


.nav_filter p{
   font-size: 20px;
   color: rgb(236, 223, 223);
   padding: 5px;
   text-align: center;
   border-radius: 8px;
   background-color: #030e55;
}


.nav_filter #category {
  /* background-color: #cac3c3; */
  color: rgb(55, 47, 47);
  border: none;
  border: 1px solid black;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

  .popup #category:hover {
    transition: 0.4s;
    color: white;
    background-color: rgb(0, 0, 0);
  }
  
  .close-btn {
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .close-btn:hover {
    transform: scale(1.1);
    background-color: darkred;
  }
  
  .search{
    color: rgb(0, 0, 0);
    width: 500px;
  }

  .showMore{
    color: rgb(0, 0, 0); 
    padding: 9px;
  }

  .showMoreContainer{
  display: flex;
  justify-content: space-around;
  padding: 50px;
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-box {
    background: rgb(255, 255, 255);
    color: black;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    height: 400px;
    max-height: 500px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    
  }
  
  .popup-box img {
    
   max-width: 400px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .popup-box .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(238, 238, 238);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
  }
  
  #buydetails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    width: 400px;
  }

  .buydetails .buyNow{
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    transition: 0.5s;
  }

  
  .buyNow:hover{
    transform: scale(0.9); 
  }

  .jsut_style {
    display: flex;
    justify-content: end;
    height: 600px;
    width: 100%;
    background-image: url('https://st.depositphotos.com/1001877/3814/i/450/depositphotos_38143799-stock-photo-e-commerce-shopping-cart-with.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
   
  }
  
  .jsut_style p {
    padding: 100px 200px;
    font-size: 60px;
    color: white;
    opacity: 0;
    animation: fadeIn 4s ease-out forwards;
  }
  
  /* Keyframes for the fade-in effect */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  /* Keyframes for the fade-in effect */
  @keyframes filterin {
    0% {
      opacity: 0;
      transform: translatex(-40px);
    }
    100% {
      opacity: 1;
      transform: translatex(0);
    }
  }


  
.banners-cont {
  width: 90%;
  margin: 0px auto;
}


.banners {

  display: flex;
  justify-content: space-between;
  gap: 50px;
}


.banner {
  height: 45vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  width: 48%;
  margin: 30px 0px;
}

.banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.banner h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}

.banner .explorebtn {
  width: 25%;
  font-size: 12px;
  text-align: center;
  padding: 16px 9px;
  margin: 10px 0px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.banner:hover .explorebtn {
  background-color: #088178;
  border: 1px solid #088178;
  color: black;
}

.banner2 {
  height: 43vh;
  padding: 25px;
  transition: 0.3s ease;
  width: 31%;
}

.banner2:hover {
  box-shadow: 0px 4px 8px #191919;
  ;
}

.banner:nth-child(1) {
  background: url(https://img.freepik.com/premium-photo/asian-happy-woman-with-perfect-body-posing-studio-luxury-fashionable-female-model-sexy-dress-with-shopping-bags-beige-isolated-background-ecommerce-online-shopping-concept_555986-1667.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.banner:nth-child(2) {
  background: url(https://www.livemint.com/lm-img/img/2023/12/29/1600x900/smartwatch_girl_cleanup_1703841794354_1703841809788.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner2 h2 {

  font-size: 38px;
  line-height: 54px;

  color: #fff;
}

.banner2 h3 {
  color: #ec5600;
}

.banner2:nth-child(1) {
  background: url(https://img.freepik.com/free-photo/front-view-young-female-holding-red-sale-writing-yellow-wall_140725-98638.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner2:nth-child(2) {
  background: url(https://watermark.lovepik.com/photo/20211127/large/lovepik-fashion-girls-with-shopping-bags-picture_501157949.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-content: center;

}

.banner2:nth-child(2) h2 {
  font-size: 23px;
}

.banner2:nth-child(3) {
  background: url(https://c.ndtvimg.com/2022-05/isjv5tio_fashion-sale345_295x200_02_May_22.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;

  justify-content: center;

}